# Python
*.py[cod]
__pycache__

# Development tools
/.venv
/build
/dist
*.egg-info
/.ruff_cache
/.mypy_cache
/.pytest_cache
/.coverage
/.coverage.*
/htmlcov

# Editors
*.swp
/.idea
/.vscode

# Others
.DS_Store
